.bg-purple {background-color: #6100C1;}
.bg-black {background-color: #6100C110;}
.bg-green{background-color: #B2D93A;}
.bg-iceblue{background-color:#6ED2EF30;}
.bg-dark-purple {background-color: #6100C150;}
.bg-light-orange {background-color: #FF7D5630;}
.bg-orange { background-color: #FF7D56;}
.bg-white {background-color: #FDFDFF;}
.bg-yellow {background-color: #FDCF3F;}
.bg-light-blue{background-color: #6ED2EF;}
.bg-light-blue-transparent{ background-color: #6ED2EF50;}
.bg-blue { background-color: #4F94FB;}
.bg-navy {background-color: #222F5E;}
.text-white {color: #ffffff;}
.text-navy { color: #222F5E;}
.text-light-blue{ color: #6ED2EF;}
.text-grey {color: #878799;}
.text-orange {color: #FF7D56;}
.text-purple {color: #6100C1;}
.text-green {color: #B2D93A;}
.text-light-grey { color: #7A87A8;}
h1 {font-size: 87px;}
h2 {font-size: 48px;}
h3 {font-size: 32px;}
h4 {font-size: 24px;}
span {font-size: 18px;}
p {font-size: 16px;}
.font-extra-large{ font-size: 48px;}
.font-large{font-size: 24px;}
.font-link-medium{ font-size: 22px;}
.font-medium{font-size: 20px;}
.font-link-normal {font-size: 18px;}
.font-normal{font-size: 16px;}
.font-small{font-size: 14px;}

.navbar .logo {
    padding: 30px 1143px 30px 168px;
    margin: 0px;
}
.navigation {
    margin:  24px 125px 24px 481px;
    padding: 8px;
}
.hero {
    margin: 112px 120.13px 170px 120.13px;
}
.hero .content {
    margin:41.86px 615.87px 41.86px;
}
.hero img {
    margin: 112px 120.13px 170px 615.87px;
}
.offer {
    margin: 40px 79px 93px 79px;
}
.offer .container ul li {
    margin: 137px 79px 93px 79px;
}
.benefits {
    margin: 142px 125px 142px 125px;
}
.about {
    margin :75px 125px 75px 125px;
}
.about .content {
    margin: 146px 146px 611px;
}
.knowledge .container .content {
    margin: 220px 736px 220px 125px;
}
.knowledge .container img {
    margin: 75px 125px 75px 736px;
}
.member .container .content { 
    margin: 125px 578px 125px;
}
.member .container .card-member {
    margin: 300px 125px 125px;
}
.testimonial .container .card-testimonial {
    margin: 323px 123.5px 125px 123.5px;
}
.blog .container .content {
    margin: 125px 1002px 125px;
}
.blog .container .article {
    margin: 198px 125px 125px;
}
footer .container {
    margin: 59px 59px;
}
footer .container .logo {
    margin: 1045px 47px 125px
}