.bg-purple {background-color: #6100C1;}
.bg-black {background-color: #6100C110;}
.bg-green{background-color: #B2D93A;}
.bg-iceblue{background-color:#6ED2EF30;}
.bg-dark-purple {background-color: #6100C150;}
.bg-light-orange {background-color: #FF7D5630;}
.bg-orange { background-color: #FF7D56;}
.bg-white {background-color: #FDFDFF;}
.bg-yellow {background-color: #FDCF3F;}
.bg-light-blue{background-color: #6ED2EF;}
.bg-light-blue-transparent{ background-color: #6ED2EF50;}
.bg-blue { background-color: #4F94FB;}
.bg-navy {background-color: #222F5E;}
.text-white {color: #ffffff;}
.text-navy { color: #222F5E;}
.text-light-blue{ color: #6ED2EF;}
.text-grey {color: #878799;}
.text-orange {color: #FF7D56;}
.text-purple {color: #6100C1;}
.text-green {color: #B2D93A;}
.text-light-grey { color: #7A87A8;}
h1 {font-size: 87px;}
h2 {font-size: 48px;}
h3 {font-size: 32px;}
h4 {font-size: 24px;}
span {font-size: 18px;}
p {font-size: 16px;}
.font-extra-large{ font-size: 48px;}
.font-large{font-size: 24px;}
.font-link-medium{ font-size: 22px;}
.font-medium{font-size: 20px;}
.font-link-normal {font-size: 18px;}
.font-normal{font-size: 16px;}
.font-small{font-size: 14px;}


